﻿
      <%- include('partials/header') %>
    <div class="app flex-row align-items-center">
      <div class="container">
          <div class="row justify-content-center">
              <div class="col-md-8">
                  <div class="card-group mb-0">
                      <div class="card p-4">
                          <div class="card-block">
                            <form action="" class="form form--listing" method="post">
                              <h1>Login</h1>
                              <p class="text-muted">Sign In to your account</p>
                                <% if(locals.error) { %>
                                <div class="alert alert-danger">
                                <%= error %>
                                </div>
                                <% } %>
                                <% if(locals.success) { %>
                                <div class="alert alert-success">
                                    <%= success %>
                                </div>
                                <% } %>
                              <div class="input-group mb-3">
                                  <span class="input-group-addon"><i class="icon-user"></i>
                                  </span>
                                  <input type="text" name="username" id="username" value="<%= locals.username || '' %>" class="form-control usn-validation form-element" placeholder="Username">
                              </div>
                              <div class="input-group mb-4">
                                  <span class="input-group-addon"><i class="icon-lock"></i>
                                  </span>
                                  <input type="password" name="password" id="password" class="form-control usn-validation form-element" placeholder="Password">
                              </div>
                              <div class="row">
                                  <div class="col-6">
                                      <button type="submit" class="btn btn-primary px-4">Login</button>
                                  </div>
                                  <div class="col-6 text-right">
                                      <button type="button" class="btn btn-link px-0">Forgot password?</button>
                                  </div>
                              </div>
                            </form>
                          </div>
                      </div>
                      <div class="card card-inverse card-primary py-5 d-md-down-none" style="width:44%">
                          <div class="card-block text-center">
                              <div>
                                  <h2>Sign up</h2>
                                  <p>If you don't already have an account click the button below to create your account. </p>
                                  <button type="button" class="btn btn-primary active mt-3">Register Now!</button>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <%- include('partials/footer') %>