<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i>
                    Detail Account
                </div>
                <div class="card-body">
                    <form class="form-horizontal" action="/action_page.php">
                        <div class="form-group" style="margin-top: 20px;">
                            <label class="control-label col-sm-2" for="email">Full Name:</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" disabled placeholder="Full Name" value="{{ vm.detail.fullname }}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="pwd">Username:</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" disabled placeholder="Username" value="{{ vm.detail.username }}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="pwd">Phone:</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" disabled placeholder="Phone" value="{{ vm.detail.phone }}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="pwd">Email:</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" disabled placeholder="Email" value="{{ vm.detail.email }}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="pwd">Last Edit:</label>
                            <div class="col-sm-6">
                                <input type="date" class="form-control" disabled placeholder="Last Edit" value="{{ vm.detail.modtime | date:'yyyy-MM-dd' }}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="pwd">Address:</label>
                            <div class="col-sm-6">
                                <textarea rows="3" class="form-control" disabled placeholder="Address">{{ vm.detail.address }}</textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="pwd">Gender:</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" disabled placeholder="Gender" value="{{ vm.detail.gender == 1 ? 'Male' : 'Gemale' }}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="pwd">Taxnumber:</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" disabled placeholder="Taxnumber" value="{{ vm.detail.taxnumber }}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="pwd">Speaking Languages:</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" disabled placeholder="Speaking Languages" value="{{ vm.detail.speakinglanguages }}">
                            </div>
                        </div>
                    
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="pwd">BirthDay:</label>
                            <div class="col-sm-6">
                                <input type="date" class="form-control" disabled placeholder="BirthDay" value="{{ vm.detail.dateofbirth | date:'yyyy-MM-dd' }}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="pwd">Position:</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" disabled placeholder="Position" value="{{ vm.detail.position.name }}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="pwd">Company:</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" disabled placeholder="Company" value="{{ vm.detail.company.name }}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="pwd">Avatar:</label>
                            <img style="margin-left: 200px;" ng-src="{{ vm.detail.avatar.url }}" width="100px" height="50px" class="img-responsive" />
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="pwd">Cover:</label>
                            <img style="margin-left: 200px;" ng-src="{{ vm.detail.cover.url }}" width="100px" height="50px" class="img-responsive" />
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="pwd">Card Visit:</label>
                            <img style="margin-left: 200px;" ng-src="{{ vm.detail.cardvisit.url }}" width="100px" height="50px" class="img-responsive" />
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="pwd">Identitycard:</label>
                            <img style="margin-left: 200px;" ng-src="{{ vm.detail.identitycard.url }}" width="100px" height="50px" class="img-responsive" />
                        </div>
                        <div class="form-group">
                            <label style="padding-top: 0;" class="control-label col-sm-2" for="pwd">Agreement:</label>
                            <a style="margin-left: 12px;" href="{{ vm.detail.agreement.url }}" target="_blank">{{ vm.detail.agreement.name }}</a>
                        </div>
                        <div class="form-group">
                            <label style="padding-top: 0;" class="control-label col-sm-2" for="pwd">Block:</label>
                            <div class="col-sm-6">
                                <input type="checkbox" ng-model="vm.detail.block" disabled />
                            </div>
                        </div>
                        <div class="form-group">
                            <label style="padding-top: 0;" class="control-label col-sm-2" for="pwd">Chat:</label>
                            <div class="col-sm-6">
                                <input type="checkbox" ng-model="vm.detail.chat" disabled />
                            </div>
                        </div>
                        <div class="form-group">
                            <label style="padding-top: 0;" class="control-label col-sm-2" for="pwd">Edit:</label>
                            <div class="col-sm-6">
                                <input type="checkbox" ng-model="vm.detail.edit" disabled />
                            </div>
                        </div>
                        <div class="form-group">
                            <label style="padding-top: 0;" class="control-label col-sm-2" for="pwd">Master:</label>
                            <div class="col-sm-6">
                                <input type="checkbox" ng-model="vm.detail.master" disabled />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>