<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i>
                    User Account
                </div>
                <div class="card-block">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-6 offset-6">
                                <div class="input-group">
                                    <span class="input-group-addon" id="basic-addon"><i class="fa fa-filter"></i></span>
                                    <input type="text" class="form-control" ng-model="vm.ft.name" ng-change="vm.filter()" placeholder="Enter name to filter" aria-describedby="basic-addon">
                                    <select class="form-control" ng-model="vm.ft.numRecord" ng-change="vm.filter()">
                                        <option value="">Num result</option>
                                        <option ng-repeat="i in [2, 4, 6, 8, 10] track by $index" value="{{ i * 5 }}">{{ i * 5 }} result</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <hr>
                    </div>
                    <div class="col-sm-12" style="padding: 0;">
                        <table class="table table-striped table-bordered" style="border-collapse: separate;">
                            <thead>
                                <tr>
                                    <th colspan="12" class="text-center"> {{vm.numRecord}} Record(s), {{vm.numPage}} Page(s) </th>
                                </tr>
                                <tr>
                                    <th colspan="12" class="text-center"> Infomation </th>
                                </tr>
                                <tr>
                                    <th class="text-center sort-attr" style="min-width: 20px;">#</th>
                                    <th class="text-center sort-attr" style="min-width: 200px;">Full Name</th>
                                    <th class="text-center sort-attr" style="min-width: 120px;">Username</th>
                                    <th class="text-center sort-attr">Smart Directory</th>
                                    <th class="text-center sort-attr">Vietnam Property Hub</th>
                                    <th class="text-center sort-attr">Phone Number</th>
                                    <th class="text-center sort-attr">Email</th>
                                    <th class="text-center sort-attr">Block</th>
                                    <th class="text-center sort-attr">Detail</th>
                                </tr>
                            </thead>
                            <tbody>
                                <style>
                                    td div {
                                        text-align: center;
                                    }
                                </style>
                                <tr ng-repeat="(idx, row) in vm.listUser track by $index">
                                    <td><strong>#{{ idx + vm.countFrom }}</strong> </td>
                                    <td>{{ row.fullname }}</td>
                                    <td>{{ row.username }}</td>
                                    <td>
                                        <label class="container_custom">&nbsp;
                                            <input disabled type="checkbox" ng-model="row.smartDirectory" />
                                            <span class="checkmark"></span>
                                        </label>
                                    </td>
                                    <td>
                                        <label class="container_custom">&nbsp;
                                            <input disabled type="checkbox" ng-model="row.vietnamPropertyhub" />
                                            <span class="checkmark"></span>
                                        </label>
                                    </td>
                                    <td>{{ row.phone }}</td>
                                    <td>{{ row.email }}</td>
                                    <td>
                                        <label class="container_custom">&nbsp;
                                            <input ng-change="vm.ChangeBlock(idx, row._id)" type="checkbox" ng-model="row.block" />
                                            <span class="checkmark"></span>
                                        </label>
                                    </td>
                                    <td>
                                        <a ng-click="vm.setDetail(idx, row._id)" class="nav-link" ui-sref-active="active" ui-sref="index.detailAccount({_id: row._id})">Detail</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-sm-12">
                        <ul class="pagination" ng-if="vm.numPage >= 2">
                            <li class="page-item" ng-if="vm.currentPage != 0"><a class="page-link" href="javascript:void(0)" ng-click="vm.loadPage(vm.currentPage - 1)">Prev</a>
                            </li>
                            <li ng-repeat="i in vm.pageNums" class="page-item" ng-class="i == vm.currentPage ? 'active' : ''"><a class="page-link" href="javascript:void(0)" ng-click="vm.loadPage(i)">{{ i + 1 }}</a>
                            </li>
                            <li class="page-item" ng-if="vm.currentPage < vm.numPage - 1"><a class="page-link" href="javascript:void(0)" ng-click="vm.loadPage(vm.currentPage + 1)">Next</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>