<% if (index == 0) { %>
<div class="col-sm-12">
    <input type="text"  data-label="<%= field.label %>" class="form-control" ui-number-mask="2" ui-negative-number ng-class="form.<%= id %>.$valid ? 'form-control-success' : 'form-control-danger'" placeholder="<%= field.label %>" ng-model="<%= getAttr(attr) %>" name="<%= id %>" id="<%= id %>" ng-focus="<%= id %>=true" ng-required="<%= field.required != false ? 'true' : 'false' %>"/>
</div>
<% } %>