<% if (index == 0) { %>
<div class="col-sm-12">
    <textarea data-label="<%= field.label %>" class="form-control" placeholder="<%= field.label %>" ng-model="<%= getAttr(attr) %>" name="<%= id %>" id="<%= id %>" ng-focus="<%= id %>=true" ng-required="<%= field.required != false ? 'true' : 'false' %>"></textarea>
</div>
<% } %>