<% if (index == 0) { %>
<div class="col-sm-12">
    <input type="text"  data-label="<%= field.label %>" class="form-control" placeholder="<%= field.label %>" ng-model="<%= getAttr(attr) %>" json-text name="<%= id %>" id="<%= id %>" ng-focus="<%= id %>=true" ng-required="<%= field.required != false ? 'true' : 'false' %>"/>
</div>
<% } %>