<% if (index == 0) { %>
<div class="col-sm-12">
    <input type="password"  data-label="<%= field.label %>" class="form-control" ng-class="form.<%= id %>.$valid ? 'form-control-success' : 'form-control-danger'" placeholder="<%= field.label %>" ng-model="<%= getAttr(attr) %>" name="<%= id %>" id="<%= id %>" ng-focus="<%= id %>=true" ng-required="!vm.edit ? <%= field.required != false ? 'true' : 'false' %> : false"/>
</div>
<% } %>