<% if (index == 0) { %>
<div class="col-sm-12">
    <div class="row">
        <my-tag class="col-sm-12"  data-label="<%= field.label %>" my-id="<%= attr %>" ng-collection="<%= collection %>" ng-data="<%= getAttr(attr) %>">
        </my-tag>
    </div>
</div>
<% } %>