<% if (index == 0) { %>
    <div class="col-sm-12">
        <input type="time" class="form-control" time-input placeholder="<%= field.label %>" ng-class="form.<%= id %>.$valid ? 'form-control-success' : 'form-control-danger'" ng-model="<%= getAttr(attr) %>" name="<%= id %>" id="<%= id %>" ng-focus="<%= id %>=true" ng-required="<%= field.required != false ? 'true' : 'false' %>"/>
    </div>
<% } %>