<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <form class="form-horizontal ng-pristine ng-valid" name="form" ng-submit="vm.Save()">
                <div class="card">
                    <div class="card-header">
                        <strong>Document</strong>
                        <small>Form</small>
                    </div>
                    <div class="card-block">
                        
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group row" ng-init="focus_f1512972841762_0=false" ng-class="!focus_f1512972841762_0 ? '' : form.f1512972841762_0.$valid ? 'has-success' : 'has-danger has-feedback'">
                                    <label class="form-form-control-label control-label col-sm-2" for="f1512972841762_0">Document type</label>
                                    <div class="col-sm-8">
                                        

<select  class="form-control" id="f1512972841762_0" name="f1512972841762_0" ng-model="vm.documentData.typeId" ng-focus="focus_f1512972841762_0=true" ng-class="form.f1512972841762_0.$valid ? 'form-control-success' : 'form-control-danger'" placeholder="Select document type" required>
    <option ng-repeat="(idx, elem) in vm.types" value="{{ elem._id }}">{{ elem.data.en.name }}</option>
</select>

                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-sm-8 offset-sm-2">
                                        <ul class="nav nav-tabs" role="tablist">
                                            
                                                <li class="nav-item active">
                                                    <a class="nav-link" data-toggle="tab" href="#tab_desc_en" role="tab" aria-controls="home">EN</a>
                                                </li>
                                            
                                                <li class="nav-item ">
                                                    <a class="nav-link" data-toggle="tab" href="#tab_desc_vi" role="tab" aria-controls="home">VI</a>
                                                </li>
                                            
                                        </ul>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="tab-content">
                                        
                                        <div class="tab-pane active" id="tab_desc_en" role="tabpanel">
                                            <div class="form-group row" ng-init="focus_f1512972841767_1_0=false" ng-class="!focus_f1512972841767_1_0 ? '' : form.f1512972841767_1_0_en.$valid ? 'has-success' : 'has-danger has-feedback'">
                                                <label class="form-form-control-label control-label col-sm-2" for="f1512972841767_1_0_en">Description</label>
                                                <div class="col-sm-8">
                                                
<input type="text" ng-focus="focus_f1512972841767_1_0=true" id="f1512972841767_1_0_en" name="f1512972841767_1_0_en" ng-model="vm.documentData.data.en.desc" ng-change="vm.descChange(vm.documentData.data.en.desc, 'en')" class="form-control" ng-class="form.f1512972841767_1_0_en.$valid ? 'form-control-success' : 'form-control-danger'" placeholder="English..." required>

                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div class="tab-pane " id="tab_desc_vi" role="tabpanel">
                                            <div class="form-group row" ng-init="focus_f1512972841771_1_1=false" ng-class="!focus_f1512972841771_1_1 ? '' : form.f1512972841771_1_1_vi.$valid ? 'has-success' : 'has-danger has-feedback'">
                                                <label class="form-form-control-label control-label col-sm-2" for="f1512972841771_1_1_en">Description</label>
                                                <div class="col-sm-8">
                                                
<input type="text" ng-focus="focus_f1512972841771_1_1=true" id="f1512972841771_1_1_vi" name="f1512972841771_1_1_vi" ng-model="vm.documentData.data.vi.desc" ng-change="vm.descChange(vm.documentData.data.vi.desc, 'vi')" class="form-control" ng-class="form.f1512972841771_1_1_vi.$valid ? 'form-control-success' : 'form-control-danger'" placeholder="Vietnamese...">

                                                </div>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group row" ng-init="focus_f1512972841773_2=false" ng-class="!focus_f1512972841773_2 ? '' : form.f1512972841773_2.$valid ? 'has-success' : 'has-danger has-feedback'">
                                    <label class="form-form-control-label control-label col-sm-2" for="f1512972841773_2">File</label>
                                    <div class="col-sm-8">
                                        
    <style>
        
    </style>
    <input type="file" class="form-control" style="width: calc(100% - 50px * {{ vm.fileUrl ? 1 : 0 }}); float: left;" ng-files="getTheFiles($files)" name="images" id="images" accept="*"  ng-required="!vm.edit">
    <a ng-if="vm.fileUrl" class="btn btn-block btn-success" style="width: 50px;float: right;height: 41px;padding-top:11px" href="{{ vm.fileUrl }}"><i class="fa fa-download"></i></a>

                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-sm btn-primary pull-right"><i class="fa fa-dot-circle-o"></i> Submit</button>
                        <button type="button" class="btn btn-sm btn-default" ui-sref-active ui-sref="index.documents.property({_id: vm.propertyId})"><i class="fa fa-dot-circle-o"></i> Cancel</button>
                        <button type="reset" ng-if="!vm.editPage" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>